.content{
  display: flex;
  
}
.bill_container{
  display: flex;

}


/* Bill form container form styles */
.print_bill form 
{
  width: 450px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 30px 40px 1px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 20px;
}
.print_bill_table
{
  width: 370px;
  border-color: #c9c5c2;
}
.print_bill_table thead tr th{
 background-color: rgb(11, 2, 51);
color: aliceblue;
}

.modal-content{
  width: 550px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-content input {
  font-size: 18px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.modal-content label {
  font-size: 15px;
}

.close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bill_table{
  width: 600px ;
  background-color: rgb(238, 238, 238);
  margin: 20px;
  margin-top: 50px;
  border: 1px solid #c9c5c2; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
 

}

.bill_table thead tr th{
  background-color: rgb(11, 2, 51);
  color: aliceblue;
  padding :2% 20px;
  align-items: center;
  font-size: 12px;
  font-weight: bolder;


}

.bill_table   tbody td{
  
  height: 200px  auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}

.bill_table_container input{
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  border: 1px solid #c9c5c2; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 40px;

}
.btn{
  background-color: rgb(11, 2, 51);
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.form-row{
  justify-content: space-between;
  display: flex;
}
/* bill.css */

.input-no-border {
  border: none;
  outline: none;
  text-align: right;
  background-color: rgb(238, 238, 238);
}
.complete_sale,
.suspend_sale,
.add_customer{
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 3px;
  font-style:oblique;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: auto;
  height: 30px ;
  width: 120px;
}
.complete_sale,
.suspend_sale,
.add_customer{
  background-color: rgb(11, 2, 51);
  color: rgb(255, 255, 255);
}

.payment-method-container
{

  display: flex;
  justify-content: space-around;
  
}
.popup
{
  width: 270px;
  height: 150px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 30px 40px 40px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 80%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.popupbtnclose{
 margin-left: 40px;
}
.popupbtnok,
.popupbtnclose{
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 3px;
  font-style:oblique;
  font-weight: bold;
}
.searchcustomer input {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  border: 1px solid #c9c5c2; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 40px;
  width: 430px ;
}

.customer-list{
  width: 420px;
  background-color: rgb(213, 245, 212);
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.1);
  border-radius: 5px;
  margin-left: 30PX;
  position: absolute;
}
.customer-list table tbody tr td{
  width: 420px;

}
@media print {
  /* Set paper size to A4 */
  @page {
    size: A4;
  }

  /* Optionally, you can also set margins */
  body {
    margin: 0.5in;
  }

  /* Hide payment method radio buttons */
  .payment-method-container {
    display: none;
  }

  /* Increase spacing between lines */
  .print_bill_table td,
  .print_bill_table th {
    padding: 10px 0; /* Increase vertical padding */
    line-height: 1.5; /* Increase line height */
  }

  /* Add additional styles for print layout */
  .bill_form {
    /* Adjust styles for print layout */
  }
}
