.content{
  display: flex;
  
}
.bill_container{
  display: flex;
}


/* Bill form container form styles */
.print_bill form 
{
  width: 400px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 40px;
}

.modal-content{
  width: 550px;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-content input {
  font-size: 18px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.modal-content label {
  font-size: 15px;
}

.close-btn{
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bill_table{
  width: 600px ;
  background-color: rgb(238, 238, 238);
  margin: 40px;
  margin-top: 50px;
  border: 1px solid #c9c5c2; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
 

}

.bill_table thead tr th{
  background-color:beige;
  padding :2% 20px;
  align-items: center;


}

.bill_table   tbody td{
  
  height: 200px  auto;
  padding: 10px 30px;
  text-align: center;
}

.bill_table_container input{
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  border: 1px solid #c9c5c2; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 40px;
  width: 600px ;

}
.btn{
  background-color: rgb(1, 1, 41);
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.form-row{
  justify-content: space-between;
  display: flex;
}
/* bill.css */

.input-no-border {
  border: none;
  outline: none;
  text-align: right;
  background-color: rgb(238, 238, 238);
}
.complete_sale,
.suspend_sale,
.add_customer{
  color: rgb(0, 0, 0);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 3px;
  font-style:oblique;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: auto;
  height: 30px ;
  width: 150px;
}
.complete_sale{
  background-color: rgb(141, 237, 149);
}
.suspend_sale{
  background-color: rgb(240, 103, 103);
}

.add_customer{
  background-color: rgb(136, 116, 237);
}