/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: aliceblue;
}

/* Customer.js Container styles */
.container {
    padding: 10px;
    max-width: fit-content;
    margin: 10px auto;
    
}
  .tableContainer
  {
    max-height: fit-content;
    overflow-x: auto;
    position: relative;
      
  }
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }
  
/* Button styles */
.btn {
    border: none;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  
}
.btn.btn_add{
   position: fixed;
   right: 150px;
   margin-top: 20px;
  
}

/* Add customer button styles */
.btn_add {
    background-color: rgb(1, 1, 41);
    color: white;
    
}

/* CustomerForm.js Add container styles */
.addContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CustomerForm.js Add container styles */
.addContainer form {
    width: 550px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Bill form container form styles */
.bill_FormContainer form {
    width: 550px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 5px;
}

/* CustomerForm.js Form label styles */
.addContainer form label {
    font-size: 18px;
}

/* Bill content styles */
.bill_content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: space-between;
}

/* Bill content label styles */
.bill_content label {
    font-size: 15px;
}

/* Bill content input styles */
.bill_content input {
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Add container form input styles */
.addContainer form input {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Submit button styles */
.addContainer form button {
    background-color: rgb(3, 68, 180);
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

/* Close button styles */
.addContainer form .close-btn,
.bill_FormContainer form .close-btn {
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Table container styles */
.tableContainer,
.bill_tableContainer,
.daily_sale_tableContainer {
    margin-top: 60px;
    border: 1px solid #c9c5c2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* Bill table container styles */
.bill_tableContainer,
.daily_sale_tableContainer{
    height: 300px;
    table-layout: auto;
}
/*Daily sale table container styles*/
.daily_sale_tableContainer{
  width: 400px auto;
  margin: 40px;
   margin-top: 50px;
   border: 1px solid #c9c5c2; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
  display: flex;  
  justify-content: space-between;

}

/* Table header row styles */
.tableContainer table thead tr,
.bill_tableContainer table thead tr,
.daily_sale_tableContainer table thead tr {
    background-color: beige;
}

/* Table header cell styles */
.tableContainer table thead tr th,
.daily_sale_tableContainer table thead tr th,
.daily_sale_tableContainer table tbody td,
.tableContainer table thead tbody td {
    min-width: 200px;
    padding: 7px;
    text-align: center;
}

/* Bill table header cell styles */
.bill_tableContainer table thead tbody td,
.bill_tableContainer table thead tr th,
.daily_sale_tableContainer table tbody tr td
{
    min-width: 125px;
    padding: 7px;
    text-align: center;
}

/* Table body cell styles */
.tableContainer table tbody tr td,
.daily_sale_tableContainer table tbody tr td,
.bill_tableContainer table tbody tr td {
    border-bottom: 1px solid #c9c5c2;
}

/* Edit and delete button styles */
.btn-edit,
.btn-delete
{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 10px;
}

/* Edit button styles */
.btn-edit {
    background-color: rgba(8, 167, 246, 0.864);
}

/* Delete button styles */
.btn-delete {
    background-color: rgb(254, 78, 78);
}

/* Bill view styles */
.bill_view {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    max-width: fit-content;
    margin: 15px auto;
}

/*serch button of bill*/
.serchdiv.inboxserch{
    text-align: center;
    padding: 10px auto;
    margin-top: 5px;
}
/*bill button */

.add_cus_btn{
    margin-right: 10px;
}

.linebrake{
    margin-top: 20px;
}
