.mainheadding{
    font-size: 70px;
    font-weight: bold;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    
}
.para{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
   
}
