.item-kits-form {
    display: flex;
    background-color: white;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 30px;
  }
  
  .item-kits-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .item-kits-form form {
    display: flex;
    flex-direction: column;
  }
  
  .item-kits-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .item-kits-form input,
  .item-kits-form select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
    max-width: 300px;
    
  }
  
  .item-kits-form button {
    padding: 10px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
  }
  
  
  
  .select-option-wrapper {
    width: 100%;
  }
  
  
  
  .item-kits-form table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .item-kits-form th,
  .item-kits-form td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .item-kits-form th {
    background-color:black;
    font-weight: bold;
    color: white;
    
  }
  
  .item-kits-form tbody tr:hover {
    background-color:gray;
  }

  .item-kits-form table button {
    padding: 5px 10px; /* Adjust padding to reduce the height and width */
    font-size: 12px; /* Adjust font size if needed */
  }
  
  .search-field input {
    padding-left: 30px; /* Adjust based on the size of your icon */
    border: 1px solid #ccc;
    border-radius: 8px; /* Increased from 4px to 8px for a more rounded appearance */
  }
  .search-field {
    position: relative;
    display: inline-block;
  }
  
  .search-field input {
    padding-left: 30px; /* Adjust based on the size of your icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Adjust width as needed */
  }
  
  .search-field.anticon {
    position: absolute;
    left: 5px;
    top: 5px;
    pointer-events: none; /* Prevents the icon from receiving click events */
  }
  
  
  @media (max-width: 600px) {
   .item-kits-form {
      padding: 10px;
    }
  }
  