
.content{
    text-align: center;
    padding: 10%;
    background-color: rgba(195, 192, 192, 0.177);
    vertical-align: center;
    margin-left: 30%;
    height: 700px;
    margin-top: 1%;
    width: 750px;




}
.input{
    padding: 0;
    word-spacing: normal;
    display: block;


}
.inbox{
    padding: 10px;
    margin-left: 45%;
    margin-right: 0%;
   
}
.topbar{
    margin-left: 85%;
}

.inboxserch {
    width: 500px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    margin-left: 30px;
    margin-top: 20px;
}

.seachbtn{
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
.table{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
   border-radius: 3;
   border-color: black;

}
.dashCard{
    margin-left: 30px;
}

.btnadd{
    background-color: aqua;
    border-radius: 3;
    border-color: rgba(0, 166, 255, 0.726);
    font-weight: 600;
    margin-left: 80%;
    margin-top: 0%;
}
.btnview{
    background-color: rgba(66, 138, 247, 0.836);
    border-radius: 3;
    border-color: blue;
    font-weight: 600;
    margin-left: 80%;
    margin-top: 5%;

}
.btnreset{
    background-color: rgba(244, 79, 79, 0.801);
    border-radius: 3;
    border-color: red;
    font-weight: 600;
    
}