/* UpdateKitForm.css */

.see_btn{
    
        background-color: black;
        color: white;
        border: none;
        padding: 7px 15px;
        font-size: 12px;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
      
}